
$color-white: #FFFFFF;
$color-black: #000000;

$color-bg: #0C111F;

$primary-50: linear-gradient(279.69deg, rgba(0, 121, 109, 0.1) 0%, rgba(56, 198, 130, 0.1) 100%);
$primary-100: linear-gradient(279.69deg, rgba(0, 121, 109, 0.2) 0%, rgba(56, 198, 130, 0.2) 100%);
$primary-200: linear-gradient(279.69deg, rgba(0, 121, 109, 0.4) 0%, rgba(56, 198, 130, 0.4) 100%);
$primary-300: linear-gradient(279.69deg, rgba(0, 121, 109, 0.6) 0%, rgba(56, 198, 130, 0.6) 100%);
$primary-400: linear-gradient(278.87deg, rgba(0, 121, 109, 0.8) 0.61%, rgba(56, 198, 130, 0.8) 100%);
$primary-500: linear-gradient(279.69deg, #00796D 0%, #38C682 100%);


$gray-50: #F3F3F3;
$gray-100: #CECFD2;
$gray-200: #B6B8BC;
$gray-300: #9EA0A5;
$gray-400: #86888F;
$gray-500: #6D7079;
$gray-600: #555962;
$gray-700:  #3D414C;
$gray-800: #181D2A;
$gray-900:  #0C111F;



$ff-InterRegular: 'Inter-Regular';
$ff-InterMedium: 'Inter-Medium';
$ff-InterSemiBold: 'Inter-SemiBold';
$ff-InterBold: 'Inter-Bold';




