
#services{
    // min-height: 1451px;
    width: 100%;
}

.services{
    &-wrapper{
        padding: 100px 0;
    }
    &__title{
        @include font-style(72px, $ff-InterBold, $color-black);
        text-align: center;
        line-height: 76px;
        span{
            background: $primary-500;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &-card{
        display: flex;
        flex-direction: column;
        &__item{
            padding: 25px 30px;
            background-color: #F8F8F8;
            &--header{
                cursor: pointer;
                @include font-style(32px, $ff-InterSemiBold, $color-black);
                display: flex;
                align-items: center;
                column-gap: 40px;
                span{
                   
                }
                &-title{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                }
                span, h1{
                    background: $primary-500;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            &--body{  
                padding-left: 80px;
                p{  
                    @include font-style(18px, $ff-InterRegular, #5C5E60);
                    max-width: 700px;
                    line-height: 28px;
                    margin-bottom: 20px;
                }
                img{
                    border-radius: 12px;
                    width: 100%;
                }
            }
        }
    }
}


.services-card__item--body {
    display: none;
}

.services-card__item .active .services-card__item--body {
    display: block;
}

.accor-arr{
    transition: all 0.3s ease;
}

.rotate-arrow{
    transform: rotate(90deg);
    background: $primary-500;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}